@model LoginViewModel
@using Test_2.Models


    <div>
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
        <div id="id01" class="modal">
            <div class="form-3 modal-content animate">

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        
                    <table align="center">
                        <tr>
                            <td> @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label", @style = "color: #ADD8E6; width: 195px; font-size:11px; text-align: center;" }) </td>
                            <td> @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", @style = "color: #ADD8E6; width: 195px; font-size:11px; text-align: center;" }) </td>
                        </tr>
                        <tr>
                            <td> @Html.TextBoxFor(m => m.Email, new { @class = "form-control table ", @style = "background: #ADD8E6; width:200px; text-align: center;" })</td>
                            <td> @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "background:#ADD8E6; width:200px; text-align: center;" })</td>

                        </tr>
                        <tr>
                            <td> @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger table" }) </td>
                            <td> @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" }) </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                @Html.LabelFor(m => m.RememberMe, new { @style = "font-size:10px; width:120px; margin:0px; margin-left:50px;  text-align: left;" })
                                @Html.CheckBoxFor(m => m.RememberMe, new { @style = "margin-top:50px; margin-top:8px;  text-align: left;" })
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td> <input type="submit" value="Zaloguj" class="btn btn-default" /></td>
                        <tr>
                        <tr>
                            <td style="height:50px;"></td>
                        <tr>

                        <tr>
                            <td>@Html.ActionLink("Zarejestruj się jako nowy użytkownik", "Register", "Account")</td>
                        </tr>

                        <tr>
                            <td>@Html.ActionLink("Nie pamiętasz hasła?", "ForgotPassword", "Account")</td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
