@model Test_2.Models.ProfileUser
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Edit";
}

@RenderPage("~/Views/Komunikat.cshtml");
@using (Html.BeginForm())
{@Html.AntiForgeryToken()
@Html.ValidationSummary();

<div class="textyDiv">
    <texty>EDYCJA PROFILU O NAZWIE @Html.DisplayFor(model => model.ProfileName)</texty>
</div>

@Html.ActionLink("POWRÓT DO LISTY", "IndexAccount", null, new { @class = "w3-button w3-grey" })
<div style="text-align:center">

    <table class="TableMain" style="border:none; height:200px;">


        <tbody>

            @Html.HiddenFor(model => model.ProfilNalezyDo, new { Value = User.Identity.GetUserName().ToString() })
            @Html.HiddenFor(model => model.ProfileUserId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.ICryptoTransformKey, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.ICryptoTransformVI, new { htmlAttributes = new { @class = "form-control" } })


            <tr>
                <td>NAZWA PROFILU  </td>
                <td>@Html.EditorFor(model => model.ProfileName, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>

            <tr>
                <td>ADRESS IP ( XXX.XXX.XXX.XXX )  </td>
                <td>@Html.EditorFor(model => model.ProfileIp, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>


            <tr>
                <td>PORT</td>
                <td>@Html.EditorFor(model => model.ProfilePort, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>


            <tr>
                <td>NAZWA UŻYTKOWNIKA LOGOWANIA </td>
                <td>@Html.EditorFor(model => model.ProfileNameUser, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
            <tr>
                <td>HASŁO UŻYTKOWNIKA LOGOWANIA</td>
                <td>@Html.EditorFor(model => model.ProfileKeyUser, new { htmlAttributes = new { @class = "form-control", onmouseenter = "this.type='text'", onmouseleave = "this.type='password'" } })
            </tr>
            <tr>
                <td>HASŁO UŻYTKOWNIKA SUPERUSER</td>
                <td>@Html.EditorFor(model => model.ProfileKeyRoot, new { htmlAttributes = new { @class = "form-control", onmouseenter = "this.type='text'", onmouseleave = "this.type='password'" } })</td>
            </tr>

        </tbody>
    </table>
    <input type="submit" value="ZAPISZ" class="w3-button w3-blue-grey" style="margin-top:20px;" />
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
