@model IEnumerable<Test_2.Models.ProfileUser>

@{
    ViewBag.Title = "Index";
}
<div class="rotate_on">
    <img class="image_rotate" src="~/css/rotating-phone.png" name="rotate" />

</div>
<br />
<div class="rotate_off">
    <div class="textyDiv">
        <texty>ADMINISTRATOR PROFILÓW UŻYTKOWNIKÓW</texty>
    </div>
    @RenderPage("~/Views/Komunikat.cshtml")

    <div style="text-align:right; margin-right:35px; margin-bottom:10px;">
        @Html.ActionLink("TWORZENIE NOWEGO PROFILU", "Create", null, new { @class = "w3-button w3-grey" })
    </div>

    <div style="text-align: center">
        <table class="TableMain" style="margin:auto;">
            <thead>
                <tr>
                    <th style="text-align:center">UPRAWNIENIA</th>
                    <th style="text-align:center">NAZWA PROFILU</th>
                    <th style="text-align:center" class="mobile_off">ADRES</th>
                    <th style="text-align:center" class="mobile_off tablet_off">PORT</th>
                    <th style="text-align:center" class="mobile_off tablet_off">NAZWA UŻYTKOWNIKA</th>
                    <th style="text-align:center" class="mobile_off tablet_off">HASŁO UŻYTKOWNIKA</th>
                    <th style="text-align:center" class="mobile_off tablet_off">HASŁO 'ROOT'</th>
                    <th style="text-align:center" colspan="3"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ProfilNalezyDo)</td>
                        <td>@Html.DisplayFor(modelItem => item.ProfileName)</td>
                        <td class="mobile_off">@Html.DisplayFor(modelItem => item.ProfileIp)</td>
                        <td class="mobile_off tablet_off">@Html.DisplayFor(modelItem => item.ProfilePort)</td>
                        <td class="mobile_off tablet_off">@Html.DisplayFor(modelItem => item.ProfileNameUser)</td>
                        <td class="mobile_off tablet_off">@Html.Raw("\u2022\u2022\u2022\u2022\u2022")</td>
                        <td class="mobile_off tablet_off">@Html.Raw("\u2022\u2022\u2022\u2022\u2022")</td>
                        <td>@Html.ActionLink("EDYCJA", "Edit", new { id = item.ProfileUserId }, new { @class = "w3-button w3-black" })</td>
                        <td>@Html.ActionLink("POKAZ WIĘCEJ", "Details", new { id = item.ProfileUserId }, new { @class = "w3-button w3-black" })</td>
                        <td>@Html.ActionLink("USUŃ", "Delete", new { id = item.ProfileUserId }, new { @class = "w3-button w3-black" })</td>
                    </tr>
                }
            </tbody>
        </table>




    </div>
    </div>
