@model Test_2.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Zmień hasło";
}


@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger", @style = "font-size:small;" })
    @Html.AntiForgeryToken()
<table class="TableMain" style="margin-left:auto;margin-right:auto;width:600px">

    <thead>
        <tr>
            <th colspan="2">Formularz zmiany hasła</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th align="center">Bieżące hasło</th>
            <th>@Html.PasswordFor(m => m.OldPassword, new { @class = "w3-input w3-border w3-margin-bottom" })</th>
        </tr>

        <tr>
            <th>Nowe hasło </th>
            <th>@Html.PasswordFor(m => m.NewPassword, new { @class = "w3-input w3-border w3-margin-bottom" })</th>
        </tr>

        <tr>
            <th>Potwierdzenie nowe hasło</th>
            <th>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "w3-input w3-border w3-margin-bottom w3-margin-top" }) 
                <input type="submit" value="Zmień hasło" class="w3-input w3-border w3-margin-top w3-margin-bottom" />
            </th>
        </tr>

    </tbody>
</table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}